<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}

        {% if title %}

            <title>{{ title }} - Microblog</title>
            {% else %}
            <title>Welcome to Microblog</title>

        {% endif %}

    {% endblock %}
</head>

<body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>

    {% block body %}
    {% endblock %}
</body>
</html>